* {
    font-family: 'Finlandica', sans-serif;
    color: white;
}

body {
    background-color: #282828;
}

font {
    color: #EC6F63;
}

#header {
    font-size: 70px;
    margin: 0;
}

#content {
    z-index: 99999999;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
