body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#streamContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 12.5%;
}

#stream{
  border-radius:15px;
  width: 50vw;
  height: 37.5vw;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

#streamUsername{
  color:#fff;
  position:absolute;
  left: 10px;
  top: 1%;
  font-size: 20px;
  font-family: inherit;
}

/*
#startStream {
  position:absolute;
  height: 40px;
  top: calc(42.5vw);
}

#shareScreen {
  position: absolute;
  height: 40px;
  top: calc(42.5vw);
  left: 125px;
}
*/

#chatContainer{
  position:absolute;
  background-color:#212121;
  height: 100%;
  width:50%;
  left: 50%;
  border-radius:15px;
}

#chatInput{
  position:absolute;
  left: 1%;
  width: 98%;
  height: 40px;
  bottom:5%;
  color:#fff;
  background-color:#313131;
  border:0;
  border-radius:15px;
  font-size:17px;
  font-family:inherit;
  outline:none;
  display: inline-block;
}

#chats{
  left: 5%;
  top: 5%;
  width:100%;
  height:85%;
  padding:5px;
  color:#fff;
  font-family:inherit;
  overflow-y: auto;
  font-size: 25px;
}
